langchain
langgraph
langchain-huggingface
langchain-community
langchain-core
huggingface_hub
python-dotenv
gradio
requests
lxml
html5lib
beautifulsoup4
tavily-python
duckduckgo-search
langchain-openai
langchain-experimental
pandas
openpyxl
langchain-tavily
wikipedia
youtube-transcript-api